    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#navbar
{   width: 100%;
    /*padding: 20px 40px 0px 40px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4.4%;
    z-index: 999;

}
    
#navbar img
{
    scale: 1.1; 
      position: absolute; 
      top: 50%;
      left: 9.6%; 
    
}
#navbar nav ul
{
position: absolute;
left:26.2%;
display: flex;
gap: 55px;
list-style: none;
font-size: 18px;
font-family:'poppins',sans-serif;
}
#navbar nav ul li a
{
    text-decoration: none;
    color: black;
}
#navbar nav ul div
{
    position: absolute;
    left: 129% ;
}
#navbar nav ul li a:hover
{
    color: #fC95C4;
}
#navbar div a 
{
    text-decoration: none;
    color: black;
    
}
#navbar .icons
{
    font-size: 18px;
    display: flex;
    gap: 57px;
    position: absolute;
    top: 3%;
    left: 84%;

}
#navbar div span :hover{
    color: #fC95C4;
}
/*hearde navbar section end*/  
/* first page */
#firstpage {
  background-image: url('./images/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center 3%;
  background-size: cover;
  min-height: 100vh;
}
#firstpage {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
#firstpage h1
{
    position: relative;
    top:180px;
    left: 145px;
    color: rgba(0, 0, 0, 0.873);
    font-family:'poppins',sans-serif;
    font-size: 70px;
}

#firstpage p
{
    font-family:'poppins',sans-serif;
    font-size: medium;
    position: relative;
    top: 190px;
    left: 152px;
    width: 355px;
    line-height: 0.8cm;

}
#ordernow
{
    
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 210px;
    left: 152px;
    

}
#ordernow a{
     
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.img
{
  scale:0.64;
  position: absolute;
  left: 40.3%;
  top: 13%;

}
#ordernum ol
{
display: flex;
gap: 30px;
list-style: none;
position: relative;
top: 240px;
left:160px ;
font-family:'poppins',sans-serif;
font-size: 18px;
counter-reset: item;
padding-left: 0;
margin-left: 0;
}

#ordernum ol li {
  counter-increment: item;
  display: flex;
  align-items: center;
}

#ordernum ol li h5 {
  color: rgba(0, 0, 0, 0.91);
  margin: 0;
  padding: 0;
}
#ordernum ol li h5:hover{
    color: #fC95C4;
}
/*first page end*/
/*second page*/
#secpage{
    width: 100%;
    max-width: 100vw;
    
}
.Aboutpadding
{
    padding-top: 90px;
    padding-bottom:90px ;
}
.margin
{
    margin: 0px 111px 0px 111px;
    padding: 0px 15px 0px 15px;
}
#secpage img{
    max-width: 100%;
    height: 103vh;
    position:absolute;
    left: 149px;
}
#secpage .h1
{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family:'poppins',sans-serif;
    color: rgba(0, 0, 0, 0.792);
    font-size: 30px;
   position:relative ;
    left: 778px;
    top:18vh;
    width: fit-content;
      
}
#secpage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: relative;
    left: 160vh;
    top: 16vh;
}
#secpage div p {
    font-family: 'poppins', sans-serif;
    font-size: 17.5px;
    color: rgba(0, 0, 0, 0.827);
    width: 585px;
    line-height: 0.8cm;
   position: relative;
    top: 20vh;
    left: 105vh;
}
#secpage div a
{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    
    color: black;
    
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px 15px 50px;
    position: relative;
    top: 27vh;
    left: 105vh;
    
}
    
/*second page end*/

/* third page start */
#thipage
{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#thipage .padding{

    padding: 90px 0px 0px 90px;
}
#thipage .h1p
{
    font-family: 'poppins',sans-serif;
    font-size: xx-large;
    display: grid; 
    justify-content: left; 
    gap: 18px; /* Added gap to create vertical spacing between h1 and p */
    position: absolute;
    top: 230%;
    left: 10%;
    color: rgba(0, 0, 0, 0.827);
    
}
#thipage .h1p p{
    font-size: large;
}
#thipage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: absolute;
    top: 235%;
    left: 50%;
}
#thipage .cream_box{
    width: 100%;
    height: 100vh;
    
}
#thipage .bgimg{
    position: absolute;
    top: 227%;
    left: 83.5%;
    scale: 0.4;
}
/* boximage1 */
#thipage .box_img1{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 246%;
    left: 10%;
     background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img1{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img1:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img1{
    scale:1.1 ;
    position: absolute;
    top: 6%;
    left: 24%;
}
#thipage .price1{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
}
#thipage .price1 p{
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 28%;
    left: 21%;
}
#thipage .price1 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:23px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
/* boximag2 */
#thipage .box_img2{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img2{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px -1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img2:hover{
    background:linear-gradient( 0deg,#ffffff00 37%, #ffbf0037 37%)
}
#thipage .img2{
    position: absolute;
    top: 10%;
    left: 40%;
    scale: 1.3;
}
#thipage .price2{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price2 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price2 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart2{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart2 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart2:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart2:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage2
{
    position: absolute;
    top: 246%;
    left: 37%;
}

/* boximage3 */

#thipage .box_img3{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img3{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img3:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img3{
    position: absolute;
    top: 7%;
    left: 25%;
    scale: 1.1;
}
#thipage .price3{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price3 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price3 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart3{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart3 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart3:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart3:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage3
{
    position: absolute;
    top: 246%;
    left: 64%;
}

/* boximage4_5_6 */

#thipage .bgimg2{
    scale: 0.4;
    position: absolute;
    top: 335.4%;
    right: 83.8%;

}
 
/* boximage4 */
#thipage .box_img4{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 310%;
    left: 10%;
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img4{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img4:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img4{
    position: absolute;
    top: 10%;
    left: 28%;
    scale: 1.2;
} 
#thipage .price4{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
}
#thipage .price4 p{
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 28%;
    left: 21%;
}
#thipage .price4 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:23px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart4{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart4 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart4:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart4:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}

/* boximage5 */

#thipage .box_img5{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img5{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img5:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img5{
    position: absolute;
    top: 10%;
    left: 30%;
    scale: 1.2;
}
#thipage .price5{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price5 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price5 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart5{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart5 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart5:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart5:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage5
{
    position: absolute;
    top: 310%;
    left: 37%;
}

/* boximage6 */

#thipage .box_img6{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img6{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img6:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img6{
    position: absolute;
    top: 16%;
    left: 23%;
    scale: 1.2;
}
#thipage .price6{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price6 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price6 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart6{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart6 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart6:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart6:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage6
{
    position: absolute;
    top: 310%;
    left: 64%;
}
#thipage .see_more{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: black;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px 15px 50px;
    position: absolute;
    top: 378%;
    left: 44%;  
}
#thipage .see_more a{
    text-decoration: none;
    color: #f2f2f0;
}
/* thirdpage :end */
/* foupage start  */
#foupage
{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#foupage .padding{

    padding: 90px 0px 0px 90px;
}
#foupage .h1p
{
    font-family: 'poppins',sans-serif;
    font-size: xx-large;
    display: grid; 
    justify-content: left; 
    gap: 18px; /* Added gap to create vertical spacing between h1 and p */
    position: absolute;
    top: 395%;
    left: 10%;
    color: rgba(0, 0, 0, 0.827);
    
}
#foupage .h1p p{
    font-size: large;
}
#foupage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: absolute;
    top: 399.7%;
    left: 50%;
}
#foupage .box{
    width: 100%;
}
#foupage .box1{
    width: 378px;
    height: 179px; 
    border: 1px solid  #fc95c4;
    position: absolute;
    top: 412%;
    left: 10%;
    
}
#foupage .box1 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box1 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box1 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box2{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 412%;
    left: 37.2%;
    
}
#foupage .box2 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box2 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box2 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box3{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 412%;
    left: 64.9%;
    
}
#foupage .box3 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box3 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box3 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .read_more{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: black;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    /* text-decoration: none;
    color: rgb(255, 255, 255); */
    padding: 15px 50px 15px 50px;
    position: absolute;
    top: 443%;
    left: 44%;
}
#foupage .read_more a{
    text-decoration: none;
    color: #f2f2f0;
}
