*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#check{
    display: none;
}
#bar{
    display: none;
}
#navbar
{   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4.4%;
    z-index: 999;
    border-bottom: 1px solid #fC95C4;
    padding-bottom: 55px;

}
    
#navbar img
{
    scale: 1.1; 
      position: absolute; 
      top: 5%;
      left: 9.6%; 
    
}
#navbar nav ul
{
position: absolute;
left:26.2%;
display: flex;
gap: 55px;
list-style: none;
font-size: 18px;
font-family:'poppins',sans-serif;
}
#navbar nav ul li a
{
    text-decoration: none;
    color: black;
}
#navbar nav div{
    list-style: none;
font-size: 18px;
font-family:'poppins',sans-serif;
position: absolute;
left: 80.5%;
}
#navbar nav div :hover{
    color: #fC95C4;
}

#navbar nav ul li a:hover
{
    color: #fC95C4;
}
#navbar div a 
{
    text-decoration: none;
    color: black;
    
}
#navbar .icons
{
    font-size: 18px;
    display: flex;
    gap: 57px;
    position: absolute;
    top: 3%;
    left: 84%;

}
#navbar div span :hover{
    color: #fC95C4;
}
/* navbar end  */
#foupage
{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#foupage .padding{

    padding: 90px 0px 0px 90px;
}
#foupage .h1p
{
    font-family: 'poppins',sans-serif;
    font-size: x-large;
    display: grid; 
    justify-content: left; 
    gap: 18px; /* Added gap to create vertical spacing between h1 and p */
    position: absolute;
    top: 20%;
    left: 5%;
    color: rgba(0, 0, 0, 0.827);
    
}
#foupage .h1p p{
    font-size: large;
}
#foupage .border{
    width: 90px;
    height: 4px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    left: 42%;
}
#foupage .box{
    width: 100%;
}
#foupage .box1{
    width: 378px;
    height: 179px; 
    border: 1px solid  #fc95c4;
    position: absolute;
    top: 40%;
    left: 6%;
    
}
#foupage .box1 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box1 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box1 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 15.5px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box2{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 40%;
    left: 35%;
    
}
#foupage .box2 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box2 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box2 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box3{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 40%;
    left: 65%;
    
}
#foupage .box3 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box3 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box3 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
/* service page end  */
#foupage .footer{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-color: #222222;
    position: absolute;
    top: 90%;
}
#foupage .footer .border2{
    border: 1px solid rgba(255, 255, 255, 0.642);
    width: 85%;
    position: absolute;
    top: 40%;
    left: 8%;
}
#foupage .footer .last{
    position: absolute;

    top: 70%;
    left: 30%;
    
}
 #foupage .footer p{
    color: rgb(255, 255, 255);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
 }
 @media(max-width:431px){
    #check{
        display: none;
    }
    #navbar nav ul {
        display: none;
    }
    #navbar .icons .user{
        display: none;
    }
    #navbar .icons .search {
        display: none;
    }
    #navbar nav div.login {
        display: none;
    }
    #bar{
        display: block;
        display: block;
            position: absolute;
            top: 3%;
            left: 92%;
            font-size: 25px;
            z-index: 1000;
        
        }
        #border{
            border: 1px solid rgba(0, 0, 0, 0);
            width: 40px;
            height: 30px;
            position: absolute;
            top: 2.7%;
            left: 90%;
            box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px -1px 1px 0px rgba(128, 128, 128, 0.223) ;
            
        }
    
        #check:checked~#navbar nav ul {
    
           display: flex;
           flex-direction: column;
           gap: 17px;
           justify-content: center;
           align-items: center;
           font-family:'poppins',sans-serif;
           font-size: 16px;
           order: 1;
           background-color: #ffffff;
           width: 430px;
           position: absolute !important;
           top:35px;
           left:0%;
    
           }
           #check:checked~#foupage{
            position: absolute;
            top: 40%;
           }
           #check:checked~#thipage .footer{
            position: absolute;
            top: 450%;
           }
           #foupage{
            max-width: 430px;
        }
       
        #foupage .heading {
            width: 430px;
            position: absolute;
            top: 15%;
            left: -14%;
            scale: 0.75;
        
        }
        #foupage .border{
            display: none;
        }
        #foupage .box .box1{
            position: absolute;
            top: 30%;
            left: 5.8%;
        }
        #foupage .box .box2{
            position: absolute;
            top: 60%;
            left: 5.8%;
        }
        #foupage .box .box3{
            position: absolute;
            top: 90%;
            left: 5.8%;
        }
        #foupage .footer{
            position: absolute;
            top: 120%;
        }
        #foupage .footer .border2{
            border: 1px solid rgba(255, 255, 255, 0.642);
            width: 95%;
            position: absolute;
            top: 42%;
            left: 2.5%;
        }
       
        #foupage .footer p{
            width: 100%;
            color: white;
            font-family: 'poppins',sans-serif;
            font-size: 15px;
            position: relative;

        }
        #foupage .footer .last{
            position: absolute;
            left: 4%;
        }
        
           
 }