*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#bar{
    display: none;
}
#check{
    display: none;
}

#navbar
{   width: 100%;
    /*padding: 20px 40px 0px 40px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4.4%;
    z-index: 999;

}
    
#navbar img
{
    scale: 1.1; 
      position: absolute; 
      top: 50%;
      left: 9.6%; 
    
}
#navbar nav ul
{
position: absolute;
left:26.2%;
display: flex;
gap: 55px;
list-style: none;
font-size: 18px;
font-family:'poppins',sans-serif;
}
#navbar nav ul li a
{
    text-decoration: none;
    color: black;
}
#navbar nav div{
    list-style: none;
font-size: 18px;
font-family:'poppins',sans-serif;
position: absolute;
left: 80.5%;
}
#navbar nav div :hover{
    color: #fC95C4;
}
/* #navbar nav ul div
{
    position: absolute;
    left: 129% ;
} */
#navbar nav ul li a:hover
{
    color: #fC95C4;
}
#navbar div a 
{
    text-decoration: none;
    color: black;
    
}
#navbar .icons
{
    font-size: 18px;
    display: flex;
    gap: 57px;
    position: absolute;
    top: 3%;
    left: 84%;

}
#navbar div span :hover{
    color: #fC95C4;
}
/*hearde navbar section end*/  
/* first page */
#firstpage {
  background-image: url('./images/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center 3%;
  background-size: cover;
  min-height: 100vh;
}
#firstpage {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
#firstpage h1
{
    position: relative;
    top:180px;
    left: 145px;
    color: rgba(0, 0, 0, 0.873);
    font-family:'poppins',sans-serif;
    font-size: 70px;
}

#firstpage p
{
    font-family:'poppins',sans-serif;
    font-size: medium;
    position: relative;
    top: 190px;
    left: 152px;
    width: 355px;
    line-height: 0.8cm;

}
#ordernow
{
    
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 210px;
    left: 152px;
    

}
#ordernow:hover{
    background-color: #000000;
}
#ordernow a{
     
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.img
{
  scale:0.64;
  position: absolute;
  left: 40.3%;
  top: 13%;

}
#ordernum ol
{
     display: flex;
gap: 30px;
list-style: none;
 position: relative;
top: 240px;
left:160px ;
font-family:'poppins',sans-serif;
font-size: 18px;
counter-reset: item;
padding-left: 0;
margin-left: 0; 
}

#ordernum ol li {
  counter-increment: item;
  display: flex;
  align-items: center;
}

#ordernum ol li h5 {
  color: rgba(0, 0, 0, 0.91);
  margin: 0;
  padding: 0;
}
#ordernum ol li h5:hover{
    color: #fC95C4;
}
/*first page end*/
/*second page*/
#secpage{
    width: 100%;
    max-width: 100vw;
    
}
.Aboutpadding
{
    padding-top: 90px;
    padding-bottom:90px ;
}
.margin
{
    margin: 0px 111px 0px 111px;
    padding: 0px 15px 0px 15px;
}
#secpage img{
    max-width: 100%;
    height: 103vh;
    position:absolute;
    left: 149px;
}
#secpage .h1
{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family:'poppins',sans-serif;
    color: rgba(0, 0, 0, 0.792);
    font-size: 30px;
   position:relative ;
    left: 778px;
    top:18vh;
    width: fit-content;
      
}
#secpage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: relative;
    left: 160vh;
    top: 16vh;
}
#secpage div p {
    font-family: 'poppins', sans-serif;
    font-size: 17.5px;
    color: rgba(0, 0, 0, 0.827);
    width: 585px;
    line-height: 0.8cm;
   position: relative;
    top: 20vh;
    left: 105vh;
}
#secpage div a
{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    
    color: black;
    
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px 15px 50px;
    position: relative;
    top: 27vh;
    left: 105vh;
    
}
#secpage div a:hover{
background-color: #000000;
}
    
/*second page end*/

/* third page start */
#thipage
{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#thipage .padding{

    padding: 90px 0px 0px 90px;
}
#thipage .h1p
{
    font-family: 'poppins',sans-serif;
    font-size: xx-large;
    display: grid; 
    justify-content: left; 
    gap: 18px; /* Added gap to create vertical spacing between h1 and p */
    position: absolute;
    top: 230%;
    left: 10%;
    color: rgba(0, 0, 0, 0.827);
    
}
#thipage .h1p p{
    font-size: large;
}
#thipage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: absolute;
    top: 235%;
    left: 50%;
}
#thipage .cream_box{
    width: 100%;
    height: 100vh;
    
}
#thipage .bgimg{
    position: absolute;
    top: 227%;
    left: 83.5%;
    scale: 0.4;
}
/* boximage1 */
#thipage .box_img1{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 246%;
    left: 10%;
     background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img1{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img1:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img1{
    scale:1.1 ;
    position: absolute;
    top: 6%;
    left: 24%;
}
#thipage .price1{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
}
#thipage .price1 p{
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 28%;
    left: 21%;
}
#thipage .price1 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:23px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
/* boximag2 */
#thipage .box_img2{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img2{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px -1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img2:hover{
    background:linear-gradient( 0deg,#ffffff00 37%, #ffbf0037 37%)
}
#thipage .img2{
    position: absolute;
    top: 10%;
    left: 40%;
    scale: 1.3;
}
#thipage .price2{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price2 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price2 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart2{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart2 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart2:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart2:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage2
{
    position: absolute;
    top: 246%;
    left: 37%;
}

/* boximage3 */

#thipage .box_img3{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img3{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img3:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img3{
    position: absolute;
    top: 7%;
    left: 25%;
    scale: 1.1;
}
#thipage .price3{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price3 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price3 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart3{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart3 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart3:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart3:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
#boximage3
{
    position: absolute;
    top: 246%;
    left: 64%;
}

/* boximage4_5_6 */

#thipage .bgimg2{
    scale: 0.4;
    position: absolute;
    top: 335.4%;
    right: 83.8%;

}
 
/* boximage4 */
#thipage .box_img4{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 310%;
    left: 10%;
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img4{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img4:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img4{
    position: absolute;
    top: 10%;
    left: 28%;
    scale: 1.2;
} 
#thipage .price4{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
}
#thipage .price4 p{
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 28%;
    left: 21%;
}
#thipage .price4 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:23px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart4{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart4 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart4:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart4:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}

/* boximage5 */

#thipage .box_img5{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img5{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img5:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img5{
    position: absolute;
    top: 10%;
    left: 30%;
    scale: 1.2;
}
#thipage .price5{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price5 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price5 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart5{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart5 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart5:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart5:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
 #boximage5
{
    position: absolute;
    top: 310%;
    left: 37%;
} 

/* boximage6 */

#thipage .box_img6{
    width: 380px;
    height: 455px;
    border: 0px solid rgba(0, 0, 0, 0);
    /* position: absolute;
    top: 246%;
    left: 10%; */
    background:linear-gradient( 0deg, #ffffff 37%, #f2f2f0 37%)
    
    
}
#thipage .box_img6{
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px 1px 1px 0px rgba(128, 128, 128, 0.223);
}
#thipage .box_img6:hover{
    background:linear-gradient( 0deg,#f2f2f000 37%, #ffbf0037 37%)
}
#thipage .img6{
    position: absolute;
    top: 16%;
    left: 23%;
    scale: 1.2;
}
#thipage .price6{
    width: 71px;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 41%;
} 
#thipage .price6 p{
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#thipage .price6 h6{
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-size:25px;
    color: #000000e0;
    position: absolute;
    top: 110%;
    right: 121%;
}
#thipage .add_to_cart6{
    width: 45%;
    float: left; 
    font-size: 16px;
    text-align: center;
    border: 1px solid #fc95c4;
     color: #fc95c4;
    padding: 8px 0px 8px 0px;
    border-radius: 40px;
    position: absolute;
    top: 87%;
    left: 30%;
    scale: 1.2;
}
#thipage .add_to_cart6 a{
    text-decoration: none;
    color: #fc95c4;

}

#thipage .add_to_cart6:hover {
    /* text-decoration: none; */
    /* color: #000000 !important; */
    border: 1px solid #090909; 

}

#thipage .add_to_cart6:hover a {
    /* border: 1px solid #090909;    */
    color: #080808;

    
}
 #boximage6
{
    position: absolute;
    top: 310%;
    left: 64%;
} 
#thipage .see_more{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: black;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px 15px 50px;
    position: absolute;
    top: 378%;
    left: 44%;  
}
#thipage .see_more:hover{
    background-color: #000000;
}
#thipage .see_more a{
    text-decoration: none;
    color: #f2f2f0;
}
/* thirdpage :end */
/* foupage start  */
#foupage
{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#foupage .padding{

    padding: 90px 0px 0px 90px;
}
#foupage .h1p
{
    font-family: 'poppins',sans-serif;
    font-size: xx-large;
    display: grid; 
    justify-content: left; 
    gap: 18px; /* Added gap to create vertical spacing between h1 and p */
    position: absolute;
    top: 395%;
    left: 10%;
    color: rgba(0, 0, 0, 0.827);
    
}
#foupage .h1p p{
    font-size: large;
}
#foupage .border{
    width: 90px;
    height: 6px;
    border: 1px solid #00000000;
    background-color: #fc95c37b;
    border-radius: 4px;
    position: absolute;
    top: 399.7%;
    left: 50%;
}
#foupage .box{
    width: 100%;
}
#foupage .box1{
    width: 378px;
    height: 179px; 
    border: 1px solid  #fc95c4;
    position: absolute;
    top: 412%;
    left: 10%;
    
}
#foupage .box1 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box1 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box1 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box2{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 412%;
    left: 37.2%;
    
}
#foupage .box2 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box2 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box2 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .box3{
    width: 378px;
    height: 179px; 
    border: 1px solid #fc95c4;
    position: absolute;
    top: 412%;
    left: 64.9%;
    
}
#foupage .box3 img{
    scale: 1.2;
    position: absolute;
    top: 14.5%;
    left: 8%;
}
#foupage .box3 p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    position: absolute;
    top: 19%;
    left: 18%;
}
#foupage .box3 form{
    width: 90%;
    line-height: 0.6cm;
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 7%;
}
#foupage .read_more{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: black;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    background-color: #fC95C4;
    /* text-decoration: none;
    color: rgb(255, 255, 255); */
    padding: 15px 50px 15px 50px;
    position: absolute;
    top: 443%;
    left: 44%;
}
#foupage .read_more:hover{
    background-color: #000000;
    
}

#foupage .read_more a{
    text-decoration: none;
    color: #f2f2f0;
}

/* Testimonial page  */
#fivpage .padding{
    padding: 90px 0px 0px 0px;
}
#fivpage h1{
    font-family: 'poppins', sans-serif;
    font-size:50px; 
    color: #000000;
    position: absolute;
    top: 465%;
    left: 42%;
}
#fivpage .border{
    width: 1000px; 
    height: 330px; 
    border: 1px solid #00000000; 
    /* background-color: #fc95c37b;  */
    position: absolute;
    top: 480%;
    left: 17%;
    box-shadow:1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px -1px 1px 0px rgba(128, 128, 128, 0.223) ;
}
#fivpage .border p{
    font-family: 'poppins',sans-serif;
    font-size: 18px;
    line-height: 0.6cm;
    width: 93%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 3.5%;
    
}
#fivpage .border h2{
    font-family: 'poppins', sans-serif;
     font-size: 24px;
      color: #333333;
     position: absolute;
     top: 46%;
     left: 45%;
}
#fivpage .border img{
    position: absolute;
    top: 65%;
    left: 40%;
}
#fivpage .icon1{
position: absolute;
top: 491%;
left: 2%;
scale: 0.8;
}
#fivpage .icon2{
    position: absolute;
    top: 491%;
    left: 86%;
    scale: 0.8;
    }
    /* footer style */
 /* #footer{
        padding: 50px 0px 0px 0px ;
    } */
#footer .border{
    width: 100%;
    height: 740px;
    border: 1px solid black;
    background-color: #222222;
    position: absolute;
    top: 547.5%;
}
#footer div h1{
    font-family:'poppins',sans-serif;
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
#footer div h1{
    position: absolute;
    top: 12%;
    left: 10%;
}
#footer .NAME form input{
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(125, 125, 125);
    width: 300px;
    position: absolute;
    top: 15%;
    left: 0%;
    
}
#footer .NAME form input::placeholder{
    font-family: 'poppins',sans-serif;
    color: white;
}

#footer .NAME label{
    scale: 1.2;
    position: absolute;
    top: 25%;
    left: 10%;
}
#footer .EMAIL form input{
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(125, 125, 125);
    width: 300px;
    position: absolute;
    top: 15%;
    left: 0%;
    
}
#footer .EMAIL label{
    scale: 1.2;
    position: absolute;
    top: 35%;
    left: 10%;
}
#footer .EMAIL form input::placeholder{
    font-family: 'poppins',sans-serif;
    color: white;
}
#footer .NUMBER form input{
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(125, 125, 125);
    width: 300px;
    position: absolute;
    top: 15%;
    left: 0%;
    
}
#footer .NUMBER label{
    scale: 1.2;
    position: absolute;
    top: 45%;
    left: 10%;
}
#footer .NUMBER form input::placeholder{
    font-family: 'poppins',sans-serif;
    color: white;
}
#footer .MSG form textarea{
    border: none;
    outline: none;
    background: none;
    color: white;
    border-bottom: 1px solid rgb(125, 125, 125);
    width: 260px;
    /* position: absolute;
    top: 55%;
    left: 10%; */
    scale: 1.2;
}
#footer .MSG form textarea::placeholder
{
    font-family: 'poppins',sans-serif;
    color: white;
    max-width: fit-content;
    /* position: absolute;
    top: %;
    left: 8%; */
}
#footer .MSG label{
    scale: 1.2;
    position: absolute;
    top: 55%;
    left: 14%;
}
#footer .Send{
    font-family: 'poppins',sans-serif;
    font-size: 17px;
    color: black;
    width: fit-content;
    border: 0px solid black;
    border-color: none;
    background-color: #fC95C4;
    padding: 15px 55px 15px 55px;
    position: absolute;
    top:65%;
    left: 10%;
}
#footer .Send:hover{
    background-color: #ffffff;
    border: 1px solid black;
}
#footer .Send:hover a {
    color: #000000;
}
#footer .Send a{
    text-decoration: none;
    color: #f2f2f0;
}
#footer .icons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 50px;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 18%;
    right: 35%;
    
}
#footer .icons .call{
    font-family: 'poppins',sans-serif;
    font-variant:small-caps;
    font-size: 20px;
    color: #f2f2f0da;
    position: absolute;
    top: 2%;
    left: 170%;
}
#footer .icons .email{
    font-family: 'poppins',sans-serif;
    font-variant:small-caps;
    
    font-size: 20px;
    color: #f2f2f0da;
    position: absolute;
    top: 45%;
    left: 170%;
}
#footer .icons .Add{
    font-family: 'poppins',sans-serif;
    font-variant:small-caps;
    
    font-size: 20px;
    color: #f2f2f0da;
    position: absolute;
    top: 85%;
    left: 170%;
}
#footer .map{
    scale: 0.6;
    position: absolute;
    top: 35%;
    left: 60%;
}
#footer .border2{
    border: 1px solid rgba(255, 255, 255, 0.642);
    width: 85%;
    position: absolute;
    top: 92%;
    left: 8%;
}
#footer .last{
    font-family: 'poppins',sans-serif;
    color: white;
    position: absolute;
    top: 95%;
    left: 34%;
    font-size:20px ;
}



/* media  */
@media(max-width:431px){
#navbar nav ul {
    display: none;
}
#navbar .icons .user{
    display: none;
}
#navbar .icons .search {
    display: none;
}
/* #navbar nav ul li:last-child {
    display: none;
} */
#navbar nav div.login {
    display: none;
}
#bar{
    display: block;
    display: block;
        position: absolute;
        top: 3%;
        left: 92%;
        font-size: 25px;
        z-index: 1000;
    
    }
    #border{
        border: 1px solid rgba(0, 0, 0, 0);
        width: 40px;
        height: 30px;
        position: absolute;
        top: 2.7%;
        left: 90%;
        box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.223) ,-1px -1px 1px 0px rgba(128, 128, 128, 0.223) ;
        
    }
    .Aboutpadding{
        padding: 0px;
    }

    #check:checked~#navbar nav ul {

       display: flex;
       flex-direction: column;
       gap: 17px;
       justify-content: center;
       align-items: center;
       font-family:'poppins',sans-serif;
       font-size: 16px;
       order: 1;
       background-color: #ff6565;
       width: 430px;
       position: absolute !important;
       top:35px;
       left:0%;

       }
    

       #check:checked~#navbar .icons .search{
        display: block;
       }

    #check:checked~ main #firstpage{
        position: absolute;
        top: 50%;
    }
    #check:checked~#navbar nav div li{
           display: block;
    }
    #check:checked~#navbar nav div.login {
        display: flex;
        flex-direction: column;
        padding: 20px 100px 20px 100px;
        order: 2;
        /* margin-top: 252px; */
        position: absolute;
        top: 243px;
        left: 0%;
        background-color: #ff6565;
        width: 430px;
    }
    #check:checked~#navbar .search{
        order: 3;
        display: flex;
        position: absolute;
        top: 300px;
        left: -362px;
        background-color: #ff6565; 
        width: 430px;

    }
     /* firstpage  */

     #firstpage{
        max-width: 430px;
        background-image: none;
        
     }


    #firstpage h1{
        position: absolute;
        left: 0%;
        top: 20%;
        scale: 0.6;   
    }
    #firstpage .cream{
        position: absolute;
        left: 10%;
    }
    #firstpage p{
        position: absolute;
        left: 5%;
        top: 32%;
    }
  #firstpage #ordernow{
    position: absolute;
    top: 50%;
    left: 5%;
  }
  #firstpage .img{
    position: absolute;
    left: 0%;
    right: 405px;
    top: 40%;
    scale: 0.45;
  }
  #firstpage div ol {
    position: absolute;
    top: 95%;
    left:5%;
}
/* firstpage end  */
/* second page  */
#secpage{
    width: 430px;
}
#secpage .Aboutpadding{
    padding: 90px 0px 0px 0px;
    }
    #secpage .h1 {
        width: 430px;
        position: absolute;
        /* right: 395px; */
        /* bottom: 78px; */
        left: 2%;
        top: 110%;
        scale: 0.7;
} 

#secpage div{
    
}

#secpage .border{
    display: none;
}
#secpage div p{
    width: 430px;
    position: absolute;
    top: 790px;
    left: 8px;
    scale: 0.95;
}
 #secpage div a{
    position: absolute;
    left: 10px;
    top:1050px ;
    
}
#secpage img{
    scale: 0.95;
    position:absolute;
    left: 2%;
    top: 172%;
}
/* second page end  */
 #thipage{
    max-width: 430px;
} 
#thipage .padding{
    padding: 90px 0px 0px 0px;
}
#thipage .border{
    display: none;
}
#thipage .bgimg{
    display: none;
}
#thipage .h1p{
    width: 430px;
    scale: 0.75;
    position: absolute;
    top: 280%;
    left: -8%;
    
}
#thipage .box_img1{
    width: 400px;
    position: absolute;
    top:308% ;
    left: 4%;
    scale: 0.95;
}
#thipage #boximage2{
    width: 400px;
    position: absolute;
    top: 380%;
    left: 5.8%;
    scale: 0.99;   
}
#thipage #boximage3{
    width: 400px;
    position: absolute;
    top: 452%;
    left: 5.8%;
    scale: 0.99;
}
#thipage .bgimg2{
    display: none;
}
#thipage #boximage4_5_6 .box_img4{ 
    width: 400px;
    position: absolute;
    top:524% ;
    left: 3.8%;
    scale: 0.94;
} 
#thipage #boximage5 {
    width: 400px;
    position: absolute;
    top: 596%;
    left: 5.8%;
    scale: 0.99;
}
#thipage #boximage6{
    width: 400px;
    position: absolute;
    top: 668%;
    left: 5.8%;
    scale: 0.99;
}
#thipage .see_more{
    position: absolute;
    top: 745%;
    left: 30%; 
}
/* third page end  */
/* fourth page start  */
#foupage{
    max-width: 430px;
}
#foupage .padding{
    width: 430px;
    position:absolute;
    top:753% ;
}
#foupage .heading {
    width: 430px;
    position: absolute;
    top: 765%;
    left: -14%;
    scale: 0.75;

}
#foupage .border{
    display: none;
}
#foupage .box .box1{
    position: absolute;
    top: 790%;
    left: 5.8%;
}
#foupage .box .box2{
    position: absolute;
    top: 820%;
    left: 5.8%;
}
#foupage .box .box3{
    position: absolute;
    top: 850%;
    left: 5.8%;
}
#foupage .read_more{
    position: absolute;
    top: 885%;
    left: 30%;
}
/* fourth page end  */
/* fiveth page end  */
#fivpage .icon1{
    display: none; 
}
#fivpage .padding{
    position: absolute;
    top: 890%;
}
#fivpage h1{
    position: absolute;
    top:905%;
    left: 20%;
    scale: 0.75;
}
#fivpage .border{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 918%;
    left: 12px;
    scale: 0.98;

}
#fivpage .border p{
    scale: 0.9;
}
#fivpage .border h2{
    position: absolute;
    top: 52%;
    left: 38%;

}
#fivpage .border img{
    
    position: absolute;
    top: 62%;
    left: 28%;
}
#fivpage .icon2{
    display: none; 
}
/* fifth page end  */
/* footer page  */
#footer{
    max-width: 430px;
}
#footer .border{
    width:100%;
    height: 800px;
    position: absolute;
    top: 1000%;
}
#footer div h1{
    position: absolute;
    top: 3%;
    left: 1%;
    scale: 0.9;
}
#footer .NAME {
    scale: 0.8;
    position: absolute;
    top: 13%;
    left: 3%;
    
}

#footer .EMAIL{
    scale: 0.8;
    position: absolute;
    top: 20%;
    left: 3%;
}

#footer .NUMBER{
    scale: 0.8;
    position: absolute;
    top: 27%;
    left: 3%;
    
}

#footer .MSG label{
    scale: 0.8;
    position: absolute;
    top: 34%;
    left: 2%;
}
#footer .Send{
    scale: 0.8;
    position: absolute;
    top: 42.5%;
    left: 1%;
}

#footer .icons{
    scale: 0.8;
    position: absolute;
    top: 50%;
    right: 90%;
    
}


#footer .map{
    scale: 0.3;
    position: absolute;
    top: 50%;
    left: -18%;
}
#footer .border2{
    width: 85%;
    position: absolute;
    top: 95%;
    
}
#footer .last{
    
    position: absolute;
    top: 96.5%;
    left: 15%;
    font-size:12px ;
}
}